

body{
	background:url(../images/bg21.png);
	margin:auto 0;
	background-repeat: no-repeat;
	background-size: 1920px 1200px;
	}

#wrapper {
	width:1000px;
	margin:auto;
}

#page{
	height: 75%;
	margin-top:40px;
	color: white;
	border-radius: 5px;
	vertical-align: middle;
	
	box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
	background-color: #4eadbe;
	background-repeat:no-repeat;

}

#header{
	color : #fff;
	width : 100%;
	height: 22%;
}

#searchArea{
	position:relative;
	top: 50px;
	left: 30%;
	width: 52%;
	font-family: Arial;
	font-size: 12px;
}
#searchArea input[type=text] {
	width:65%;
	margin-bottom: 50%;
	margin: 0px;
}
#searchArea input[type=submit] {
	width:25%;
}

#logo{
	display: block;
	vertical-align: top;
	width: 20%;
	height: 15%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 10px;
}

#logo img{
	margin-top: 5px;
	border: 0;
	width: 150px;
	height: 150px;
	
}

#liens{
	display: inline-block;
	vertical-align: bottom;
	margin-left: 5%;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}

#liens img{
	margin-left : 40%;
}

#stat{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	height: 95%;
	margin-left:2%;
	margin-top: 10px;
	min-height: 200px;
	
	background-color: #141517;
	
	border-radius: 5px;
	box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
}

#content{
	display: inline-block;
	padding: 10px 15px;
	margin-top: 10px;
	width: 70%;
	min-height: 400%;
	background-color: #141517;
	
	border-radius: 5px;

	box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
}

#ajouter_comment{
	margin-bottom: 10px;
	margin-top: 10px;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	background: #c3c6bd;
	border-radius: 5px;
	box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
}

#comment{
	margin-bottom: 10px;
	color: black;
	
	background: #c3c6bd;
	
	border-radius: 5px;

	box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
}

#new_comment {
	margin-left: 10%;
	width: 80%;
	height: 5%;
}

#commentaire{
	width: 90%;
	margin-left: auto;
}

#text_search{
	width: 90%;
	margin-left: 5%;
	margin-top: 2%;
}

#new_button{
	margin-left: 80%;
}

#box_friends{
	margin-left : 5%;
	margin-top: 3%;
}

#submit_search{
	margin-left: 47%;
}
.text_comment{
	padding-top: 10px;
}

.infos_comment{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}


input{
	line-height: 14px;
	margin: 10px 0;
	padding: 6px 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(255,255,255, .2);
	color: #445b0f;
	border-radius: 26px;
	
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);

	background: #989898;
	}

/*lors du survole sur le lien (hover) ou clic(focus) on modifie les propriétés*/
input:hover {
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
}

input:focus {
	background: #e1e1e1;
	}

input:active {
	box-shadow: none;
}

#liens input {
	background: #a5cd4e;
	}

h2, h3{
text-decoration: underline;
}

a{
color: #a5cd4e;;
}

/* logo du site dans le champs recherche
#photo { 
  margin:10px 0px 6px 0px; 
  padding-left:20px; 
}
/*  logo de Google dans le champs recherche 
#photoDroite { 
  float: right;
  margin: 5px 50px 6px 15px; 
}

/* logo de Youtube dans le champs recherche
#photoGauche { 
  float : left; 
  margin : 10px 15px 6px 50px; 
}
*/
