.login-form,
.login-form h1,
.login-form input{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

/* Form Container */
.login-form {
	position: relative;
	width: 400px;
	height: 300px;
	padding: 20px 25px 0 25px;
	margin-top: 15px;
	cursor: default;

	background-color: #141517;

	border-radius: 5px;

	box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
}

.login-form:before {
	position: absolute;
	top: -12px;
	left: 10px;

	width: 0px;
	height: 0px;
	content: '';
	
	border-bottom: 10px solid #141517;
	border-right: 10px solid #141517;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
}

/* Form Title */
.login-form	h1 {
	line-height: 40px;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #686868;
}

/* Form Input General Styles */
.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=submit],
.login-form input[type=button] {
	line-height: 30px;
	margin: 15px 0;
	padding: 6px 15px;
	border: 0;
	outline: none;

	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(255,255,255, .2);

	border-radius: 26px;

}

/* Form User&Pass Input Styles */
.login-form input[type=text],
.login-form input[type=password] {
	color: #686868;
	width: 290px;

	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);

	background: #989898;
}

.login-form input[type=text]:hover,
.login-form input[type=password]:hover {
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
}

.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
	background: #e1e1e1;
}


/* Form Submit Input Styles */
.login-form input[type=button] {
	float: right;
	margin-right: 10px;
	cursor: pointer;

	color: #445b0f;

	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
}

.login-form input[type=submit] {
	cursor: pointer;
	margin-top: 10px;
	color: #445b0f;

	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
}

.login-form input[type=submit]:hover,
.login-form input[type=button]:hover {
	box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
}

.login-form input[type=submit]:active,
.login-form input[type=button]:active {
	box-shadow: none;
}

/* Form Green Gradient Styles */
.login-form input[type=submit],
.login-form input[type=button] {
	background: #a5cd4e;
}

/*Form error message */
#erreur{
	line-height: 20px;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #a5ca3e;
}
